<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <title>Virtueller Raumplan mit Zoom, Pan und Snapping</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
</head>
<body>

<button id="addBtn">➕ Objekt hinzufügen</button>
<button id="addPersonBtn">➕ Person hinzufügen</button>


<div id="personForm" style="display:none; margin-top: 20px;">
  <label>
    <input type="radio" name="mode" value="select" checked>
    Bestehende Person auswählen
  </label>
  <label>
    <input type="radio" name="mode" value="new">
    Neue Person anlegen
  </label>

  <div id="selectPersonArea" style="margin-top: 10px;">
    <select id="existingPersonSelect"></select>
  </div>

  <form id="dynamicPersonForm" style="margin-top: 10px; display:none;"></form>

  <button id="confirmPersonBtn">Bestätigen</button>
</div>




<div id="shapeSelector">
  <label>
    Form wählen:
    <select id="shapeSelect">
      <option value="laptop">Laptop</option>
      <option value="stuhl">Stuhl</option>
    </select>
  </label>
  <button id="confirmAddBtn">✔ Hinzufügen</button>
</div>

<div id="viewport">
  <div id="floorplan" style="background: url('static/sechste_etage.png'); width: 5733px; height: 916px"></div>
</div>

<script src="static/main.js"></script>

</body>
</html>
