<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Raum- und Snapzone Editor</title>
<link rel="stylesheet" type="text/css" href="static/map_editor.css">
<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">

<script src="static/jquery.js" crossorigin="anonymous"></script>
</head>
<body>



  <div id="containerContainer">
    <img id="backgroundImage" src="/static/sechste_etage.png" alt="Etagenplan">
    <div id="container">
    </div>
  </div>

<pre id="output">// Räume und Snapzones werden hier angezeigt</pre>


  <script>
    const img = document.getElementById('backgroundImage');
    const container = document.getElementById('container');

    img.onload = function () {
      container.style.width = img.naturalWidth + 'px';
      container.style.height = img.naturalHeight + 'px';
    };
  </script>

<textarea id="import" onkeyup="import_text()" style="min-width: 500px; min-height: 500px">
[
  {
    "name": "668",
    "x": 27,
    "y": 45,
    "width": 276,
    "height": 353
  },
  {
    "name": "",
    "x": 312,
    "y": 45,
    "width": 133,
    "height": 353
  }
]
</textarea>

<script src="static/map_editor.js"></script>

</body>
</html>