body {
  font-family: sans-serif;
  padding: 2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}

th, td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

form label {
  display: block;
  margin: 0.5rem 0;
}

