<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Datenbank Tabellen</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Wizards</h1>
    <a href="/wizard">Wizards</a>

    <h1>Aggregate</h1>
    <a href="/aggregate">Aggregierte Ansichten</a>

    <h1>Stammdatentabellen</h1>
    <ul>
        {% for table in tables %}
            <li><a href="{{ url_for('table_view', table_name=table) }}">{{ table.capitalize() }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
