<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <title>Wizard Übersicht</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
        <a href="/">← zurück</a>
        <h1>Verfügbare Wizards</h1>
        <ul class="list-group">
            {% for route in wizard_routes %}
                <li class="list-group-item">
                    <a href="{{ route }}">{{ route }}</a>
                </li>
            {% else %}
                <li class="list-group-item text-muted">Keine Wizards gefunden.</li>
            {% endfor %}
        </ul>
</body>
</html>
